<div id="sidebar-menu" #sidebarMenu>
<div class="menu_section">
    <div class="hardcoded-logo">
        <span class="logo-span">        
            <p class="pay">PAY.</p>
            <p class="master">MASTER</p>
        </span>
    </div>
   <!--<h3>Sadaļas</h3>-->
   <ul  class="nav side-menu">
       <li (click)="isInvoices = !isInvoices">
           <a>
               <i class="fa fa-tachometer"
                  aria-hidden="true"></i>Invoices</a>
       </li>
       <ul class="nav child_menu" [hidden]="!isInvoices">
            <li [class.selected]="isSales"(click)="unselectAll(); isSales = true;">
                <a>
                    Sales invoices
                </a>
            </li>
            <li [class.selected]="isPurchase" (click)="unselectAll(); isPurchase = true;">
                <a [routerLink]="['/purchase-invoices',{}]">
                    Purchase invoices    
                </a>
            </li>
        </ul>
        <li (click)="accountingSelected = ! accountingSelected">
           <a>
               <i class="fa fa-tachometer"
                  aria-hidden="true"></i>Accounting</a>
       </li>
       <ul class="nav child_menu" [hidden]="!accountingSelected">
            <li [class.selected]="transactionsSelected" (click)="unselectAll(); transactionsSelected = true;">
                <a>
                    Transactions    
                </a>
            </li>
            <li [class.selected]="chartsSelected" (click)="unselectAll(); chartsSelected = true;">
                <a>
                    Chart of accounts   
                </a>
            </li>
        </ul>
        <li  (click)="reportsSelected = !reportsSelected">
        <a>
            <i class="fa fa-tachometer"
               aria-hidden="true"></i>Reports</a>
    </li>
    <ul class="nav child_menu" [hidden]="!reportsSelected">
         <li [class.selected]="statementsSelected" (click)="unselectAll(); statementsSelected = true;">
             <a>
                    Income statement   
             </a>
         </li>
         <li [class.selected]="sheetsSelected" (click)="unselectAll(); sheetsSelected = true;">
             <a>
                    Balance sheet
             </a>
         </li>
     </ul>
     <li (click)="companyOpen = !companyOpen">
     <a>
         <i class="fa fa-tachometer"
            aria-hidden="true"></i>Company</a>
 </li>
 <ul class="nav child_menu" [hidden]="!companyOpen">
      <li [class.selected]="partnersSelected" (click)="unselectAll(); partnersSelected = true;">
        <a [routerLink]="['/partners',{}]">
                 Partners
          </a>
      </li>
      <li [class.selected]="detailsSelected" (click)="unselectAll(); detailsSelected = true;">
            <a [routerLink]="['/company-settings',{}]">
                   Details
            </a>
        </li>
  </ul>
   </ul>
</div>
</div>
